/*TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*VARIAVEIS*/
:root{
    /*Primary*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*Neutral*/
    --transparent-white: hsla(0, 0%, 100%, 0.75); /*PARAGRAFOS*/
    --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

/*DESKTOP*/
main{
    background-color: var(--very-light-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.cards{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.card{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 40px;
}

img{
    width: 50px;
}
#card1{
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}
#card2{
    background-color: var(--dark-cyan);
}
#card3{
    background-color: var(--very-dark-cyan);
    border-radius: 0px 10px 10px 0px;
}

p{
   font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color: var(--transparent-white);
}

h1{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: var(--very-light-gray);
    text-transform: uppercase;
    padding: 30px 0px;
}

a{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: var(--very-light-gray);
    margin-top: 50px;
    padding: 10px 15px;   
    border-radius: 50px; 
    border: 2px solid var(--transparent-white);
    text-decoration: none;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#card1 a{
    color: var(--bright-orange);
}

#card2 a{
    color: var(--dark-cyan);
}

#card3 a{
    color: var(--very-dark-cyan);
}

#card1 a:hover{
    color: var(--very-light-gray);
    background: none;
}
#card2 a:hover{
    color: var(--very-light-gray);
    background: none;
}
#card3 a:hover{
    color: var(--very-light-gray);
    background: none;
}
/*MOBILE*/
@media (max-width: 375px) {
    main{
        width: 100%;
        height: 100%;
    }
 .cards{
     margin: 20px;
    flex-direction: column;
    width: 80%;
 }   
 #card1{
    border-radius: 10px 10px 0 0;
}
#card3{
    border-radius: 0px 0px 10px 10px;
}
}
